# example
#- name: codeberg dotfiles
#  source_url: https://codeberg.org/cinux/dotfiles
#  target_url: git@gitlab.com:cinux/backup/dotfiles.git
{% for backup in ansible_role_gackup_list %}
- name: {{ backup.name }}
  source_url: {{ backup.source_url }}
  target_url: {{ backup.target_url }}
{% endfor %}
